/* Predefinições do layout do navegador */
* {
  font-family: "Courier New", Courier, monospace;
}

body {
  padding: 0;
  margin: 0;
}

/* Estilização do cabeçalho */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style-type: none;
}

header li {
  margin-left: 20px;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  color: #ccc;
  transition: color 0.3s ease;
  border-bottom: 2px solid #ccc;
  padding-bottom: 2px;
}

/*img{
    width: 150px;
    height: auto;
}*/

/* configuração do menu responcivo */

.toggle-navbar {
  display: none;
}

.toggle-navbar input {
  display: none;
}
/*
@media (max-width: 768px) {
    .navbar-header{
        display: none;
    }

    .toggle-navbar{
        display: block;
    }

    .toggle-navbar label{
        cursor: pointer;
        color: #fff;
        font-size: 24px;
    }

    .toggle-unorded-list-header{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        width: 200px;
    }

    .toggle-unorded-list-header li a{
        color: #ff0dff;
    }

    .toggle-navbar input:checked + .toggle-unorded-list-header {
        display: flex;
    }

    .toggle-unorded-list-header li {
        margin: 10px 0;
    }
}*/

/* Face da pagina */

/* Area da compra */

.area-for-buy h2 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.area-for-buy p {
  margin: 25px;
  text-align: center;
}

.area-for-buy {
  margin: 2%;
  background-color: #2f2f2f;
  padding: 2%;
  color: #fff;
  border-radius: 15px;
}

.products-services {
  display: flex;
}

.space-box {
  background-color: #fff;
  color: #2f2f2f;
  padding: 20px;
  border-radius: 15px;
  margin-right: 2%;
  border: black 2px solid;
  text-align: center;
  line-height: 1;
}

.header-box {
  background-color: #197d1a;
  color: #fff;
  border-radius: 15px;
  padding: 1%;
}

.header-box h4 {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.header-box span {
  font-size: 13px;
  margin-top: 0;
  display: block;
}

.main-box p {
  font-weight: 900;
}

.footer-box button {
  padding: 5%;
  border-radius: 15px;
  border: none;
  background-color: #197d1a;
}

.footer-box button:hover {
  background-color: #176a13;
}

.footer-box button a {
  color: #fff;
  text-decoration: none;
}

/* About our services */

.about-services {
  background-color: #2f2f2f;
  padding: 1% 5% 5% 5%;
  margin: 5%;
  color: #fff;
  border-radius: 15px;
  text-align: left;
}

.about-services span {
  font-size: 26px;
  font-weight: bold;
}

.info-services {
  display: flex;
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 15px;
  margin: 15px 0;
}

.info-services i {
  font-size: 80px;
  margin-right: 25px;
}

.service-details h4 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
}

.info-services p {
  margin: 0;
}

/* certificates */

.title {
  font-size: 26px;
  color: #fff;
  font-weight: bold;
}

.certificates {
  margin: 5%;
  padding: 15px;
  background-color: #333;
  border-radius: 15px;
  text-align: center;
}

.slide-bar {
  display: flex;
  justify-content: space-around;
}

.content {
  align-items: center;
  background-color: #ccc;
  width: 20%;
  margin-right: 1px;
  padding: 0px 10px 0px 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.content:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 5px #fff;
}

.content img {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 15px;
}

.name-certificates {
  font-size: 16px;
  font-weight: bold;
}

.desc-certificates {
  font-size: 14px;
  margin-top: 5px;
}

/* Produtos finalizados */

.finished-projects {
  background-color: #2f2f2f;
  padding: 3% 5%;
  margin: 5%;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  position: relative;
}

.btn-arrow-left,
.btn-arrow-right {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 50px 15px 50px 15px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.btn-arrow-left {
  left: 10px;
}

.btn-arrow-right {
  right: 10px;
}

.slide-bar {
  display: flex;
  gap: 20px;
}

.project-finished {
  background-color: #ccc;
  color: #2f2f2f;
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 15px;
  margin: 10px;
  width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-finished img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.title-project {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.title-desc {
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

/* Footer */

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer nav {
  align-items: center;
}

footer ul {
  list-style-type: none;
}

footer a {
  color: #fff;
  text-decoration: none;
}
