body{
  height: 100vh;
  background-image: url(/img/bg_login.gif);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.all{
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
}

/* forms */

.login_form{
  margin-top: 5%;
}

.login_form, .register_form {
  background-color: #1c1c1c;
  color: white;
  padding: 4% 6% 4% 6%;
  width: 25%;
  border-radius: 15px;
}

.form {
  display: grid;
  width: 100%;
}

.form h1{
  font-size: 56px;
  margin-bottom: 0;
}

label {
  float: left;
  margin-top: 2%;
  font-size: 20px;
}

input {
  padding: 5%;
  border-radius: 15px;
  border: 2px solid #871217;
  font-size: 15px;
}

.options{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btn-1 {
  margin-top: 12%;
  padding: 15px;
  border-radius: 15px;
  width: 70%;
  font-size: 18px;
  border: none;
}

.btn-1:hover{
  background-color: #871217;
  color: white;
}

.btn-2{
    border: none;
    background: none;
    font: bold;
    font-size: 18px;
    color: #fff;
    transition: 0.5s ease;
}   

.btn-2:hover{
    color: #871217;
}

/* desing of forms */

.register_form{
  display: none;
}