
header{
    background-color: rgb(31, 32, 31)  ;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #111;
}

nav li  {
    text-align: center;
   font-family: 'Courier New', Courier, monospace;  
   display: inline-block;
}

nav ul li a{
    display: inline;
    text-decoration: none;
    color: blue;
    background-color: yellowgreen;
    padding: 15px;
    cursor: pointer;
    margin: 45px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    margin: 10px 0;
}

input, textarea{
    margin: 5px 0;
    padding: 5px;
    width: 300px;
}

button{
    padding: 8px;
    background-color: aquamarine;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: aqua;
}

footer{
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.text-agradecimento{
    display: grid;
    justify-content: center;
    text-align: center;
}